<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Updating the Configuration</h1>

  <%= render "form", config: @config %>

  <%#= link_to "Show the config", @config, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Home", root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
